antlr4-python3-runtime
certifi
charset-normalizer
click
configparser
docker-pycreds
gitdb
GitPython
hydra-core
idna
numpy
olefile
omegaconf
Pillow
promise
protobuf
psutil
python-dateutil
PyYAML
requests
sentry-sdk
shortuuid
six
smmap
subprocess32
termcolor
torch
torchaudio
torchvision
tqdm
typing-extensions
urllib3
wandb
yaspin
